@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Vollkorn:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
  overflow-x: hidden;
}

/*//////////////--SIDEBAR--//////////// */
.sidebar {
  z-index: 5;
  position: absolute;
  padding-top: 5rem;
  top: 0;
  right: 0;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  background-color: whitesmoke;
}

.close-menu-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 2rem;
}

/*//////////////--LANDING PAGE--//////////// */
.landing-page-text {
  position: relative;
  top: 15%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.text-first {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  animation: moveDown 1s ease-in-out;
}

.text-second {
  font-family: 'Volkorn', 'sans-serif';
  font-style: italic;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  animation: moveInRight 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*//////////////--HOME--//////////// */
.input-text-field {
  border-right: 2px solid black;
}

.grid-item {
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.up-arrow {
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px 12px;
  border-radius: 50%;
  z-index: 999;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

/*//////////////--NAVBAR--//////////// */
.navbar::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.signupButton {
  background: linear-gradient(to right, #f1c40f, #f39c12);
}
.loginButton {
  background: linear-gradient(to right, #e74c3c, #c0392b);
}

/*//////////////--SPINNER--//////////// */
.spinner-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; /* White background */
}

.spinner-container {
  position: relative;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #0074d9; /* Spinner color (blue in this example) */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*//////////////--CREATOR_PAGE--//////////// */
.merchPage-filter {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.demo {
  position: fixed;
}

.checkbox {
  width: 18px;
  aspect-ratio: 1/1;
}

.filter-dividers {
  border: 1px solid gray;
}

.creator-info {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/*//////////////--SignUp and Login--//////////// */
.form-container {
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  padding: 20px;
}

.form-divider::before {
  content: 'Or';
  background-color: #fff;
  padding: 5px;
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  padding: 12px;
  border-radius: 6px;
  background-color: rgb(252, 165, 165);
  color: white;
}

/* MERCH-DISPLAY */
.merch-display-card {
  font-family: 'Montserrat', 'sans-serif';
}

.btn-black {
  background-color: black;
}
